@import url("~/public/assets/css/phosphor-icons-bold.css");
@import url("~/public/assets/css/phosphor-icons-thin.css");
@import url("~/public/assets/css/phosphor-icons-light.css");
@import url("~/public/assets/css/phosphor-icons-regular.css");
@import url("~/public/assets/css/phosphor-icons-fill.css");
@import url("~/public/assets/css/phosphor-icons-duotone.css");
@import url("~/public/assets/css/aos.css");
@import url("~/public/assets/css/bootstrap.min.css");
@import url("~/public/assets/css/main.css");
/* @import "../public/assets/sass/main.scss"; */
